services:
    postgres:
        container_name: postgres
        image: postgres:15
        restart: always
        environment:
            POSTGRES_USER: ${DATABASE_USER}
            POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
            POSTGRES_DB: ${DATABASE_NAME}
        ports:
            - '${DATABASE_PORT}:5432'
        volumes:
            - postgres_data:/var/lib/postgresql/data
        networks:
            - backend

    redis:
        container_name: redis
        image: redis:6.2
        restart: always
        command: redis-server --requirepass ${REDIS_PASSWORD}
        ports:
            - '6379:6379'
        volumes:
            - redis_data:/data
        networks:
            - backend

volumes:
    postgres_data:
    redis_data:

networks:
    backend:
